@import '../../../styles/Colors.scss';

.quick-view {
  &__blank-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }

  &__card_header {
    align-self: flex-end;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 100%;
    min-height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 8px 8px 0 0;
  }

  &__card_content {
    padding: 0 20px 20px;
  }

  &__card_title {
    line-height: 1.5;
    font-size: 20px;
    margin: 10px 0 20px;
  }

  &__details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span:first-of-type {
      margin: 7px;
    }
  }

  &__detail-text {
    margin: 4px;
    text-align: center;
    font-size: 13px;
    min-height: 32px;
    display: flex;
    align-items: center;
  }
  &__detail-icon {
    color: $primary;
  }

  &__ingredients-title {
    font-size: 16px;
    margin: 23px 0;
  }

  &__ingredients-list {
    padding-left: 20px;
    padding-bottom: 15px;
    margin: 0;
    list-style: none;
    line-height: 1.5;
  }

  &__ingredients-list li::before {
    content: '\2022';
    color: $primary;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
