.color-board {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.color-card {
  margin: 5px;
  width: 120px;
  height: 120px;
  display: flex;

  span {
    display: block;
  }

  &__content {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__hex {
    font-weight: bold;
  }

  &__usage {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }
}
