.meal-card {
  display: flex;
  flex-direction: column;
  margin: 20px 0;

  &__image-container {
    height: 160px;
    background-color: lightgray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    position: relative;
  }

  &__quick_view {
    position: absolute;
    right: 0;
    background-color: rgba($color: #fff, $alpha: 0.6);
    padding: 8px 15px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    color: #616e7b;
    border-bottom: 1px rgba($color: #888, $alpha: 0.4) solid;
    border-left: 1px rgba($color: #888, $alpha: 0.4) solid;
  }

  &__quick_view:hover {
    color: black;
    background-color: white;
    box-shadow: 1px 5px 6px -2px #0000007d;
    transform: translate(1px, -1px);
    -webkit-transform: translate(1px, -1px);
    -o-transform: translate(1px, -1px);
    -moz-transform: translate(1px, -1px);
  }

  &__content {
    padding: 20px 16px;
    flex: 1 1;
  }

  &__details {
    margin-bottom: 10px;
  }

  &__title {
    line-height: 1.5;
    font-size: 16px;
    height: 48px;
  }
}
