@import '../../../../../styles/Colors.scss';
@import '../globalStyles.scss';

.select {
  width: 100%;

  &__button {
    display: flex !important;
    justify-content: space-between !important;
    width: 100%;
  }

  &__placeholder-text {
    color: $grey_dark;
  }
}
