.filter-section {
  .bp3-card {
    padding: 5px;
    border-radius: 8px;
    box-shadow: none !important;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__header-title {
    margin: 0;
  }

  &__clear {
    color: #bc5173;
  }

  &__content {
    margin-top: 8px;
  }
}
