.corner-icon {
  position: absolute;
  padding: 8px 15px;
  background-color: rgba($color: #fff, $alpha: 0.6);
  border-bottom: 1px rgba($color: #888, $alpha: 0.4) solid;
  color: #616e7b;

  &.right {
    right: 0;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-left: 1px rgba($color: #888, $alpha: 0.4) solid;
  }

  &.left {
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px rgba($color: #888, $alpha: 0.4) solid;
  }
}

.corner-icon:hover {
  background-color: white;
  color: black;
  box-shadow: 1px 5px 6px -2px #0000007d;
  transform: translate(1px, -1px);
  -webkit-transform: translate(1px, -1px);
  -o-transform: translate(1px, -1px);
  -moz-transform: translate(1px, -1px);
}
