.filter-popup {
  &__header {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__title {
    margin: 0;
    grid-column: 2 / 2;
    place-self: center;
  }

  &__clear {
    place-self: center end;
    padding-right: 8px;
    font-weight: bold;
    color: #bc5173;
  }
}
