@import '../../../../styles/Colors.scss';

.filter-popup {
  &__header {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__title {
    margin: 0;
    grid-column: 2 / 2;
    place-self: center;
  }

  &__clear {
    place-self: center end;
    padding-right: 20px;
    font-weight: bold;
    color: $primary;
  }

  &__content {
    height: 100%;
    padding: 20px;
  }
}
